body {
    font-family: 'Poppins', sans-serif;
    background-color: #F9F5FF;
    color: #333;
}

 .navbar-brand {
     font-weight: 500;
     font-size: 1.5rem;
     color: #000000;
 }

 .nav-link {
     font-size: 1rem;
     color: #555;
     padding: 10px;
 }

 .nav-link:hover {
     color: #aba7ff;
 }

.container {
    margin-top: 50px;
    background-color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    padding: 40px;
    max-width: 600px;
    border: 2px solid #E0BBE4;
}

h1 {
    color: #8B5FBF;
    text-align: center;
    font-size: 2.5rem;
}

label,
h4 {
    color: #6C63FF;
}

button {
    background-color: #FF8B94;
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 100%;
}

button:hover {
    background-color: #FFAAA5;
    cursor: pointer;
}

#searchResults {
    margin-top: 20px;
    text-align: center;
}

#searchResults ul {
    list-style-type: none;
    padding: 0;
}

#searchResults li {
    background-color: #F3E8FF;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
}

#searchResults li:hover {
    background-color: #E0BBE4;
}

.form-control {
    border-radius: 10px;
    border: 2px solid #D3CCE3;
    width: 100%;
    /* Esticar a barra de pesquisa */
    padding: 10px;
    font-size: 1rem;
    box-sizing: border-box;
    /* Garante que padding e border não expandem além da largura total */
}

.form-inline .form-control {
    flex: 1;
    /* Para esticar a barra de pesquisa em layouts inline */
}